body{
    margin: 0;
    background-color: #3f3836;
    font-family: cursive;
    color: #dcd9d9;
}

.container{
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 900px;
}

.carrossel{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d;
    animation: rotate360 0.1s infinite forwards linear;
}

.imagem{
    position: absolute;
    width: 290px;
    height: 187px;
    top: 40px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
}

.imagem span {
    margin: auto;
    font-size: 1em;
}

@keyframes rotate360{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-360deg);
    }
}

.imagem:nth-child(1) {
    background-image: url(https://www.stockvault.net/data/2019/02/07/259948/preview16.jpg);
    transform: rotateY(0deg) translateZ(430px);
}

.imagem:nth-child(2) {
    background-image: url(https://www.shutterstock.com/image-vector/rocket-takes-off-surface-moon-600w-1154670481.jpg);
    transform: rotateY(40deg) translateZ(430px) ;
}

.imagem:nth-child(3) {
    background-image: url(https://www.shutterstock.com/image-vector/rocket-ship-launch-spaceship-flies-600w-1673780278.jpg);
    transform: rotateY(80deg) translateZ(430px); 
}
.imagem:nth-child(4) {
    background-image: url(https://www.shutterstock.com/image-vector/vector-spaceport-night-rocket-control-600w-1229008588.jpg);
    transform: rotateY(120deg) translateZ(430px);
}

.imagem:nth-child(5){
    background-image: url(https://www.shutterstock.com/image-illustration/math-formulas-seamless-pattern-hand-600w-1946562844.jpg);
    transform: rotateY(160deg) translateZ(430px);
}

.imagem:nth-child(6){
    background-image: url(https://www.shutterstock.com/image-illustration/information-burst-series-design-composed-600w-1084242338.jpg);
    transform: rotateY(200deg) translateZ(430px);
}

.imagem:nth-child(7){
    background-image: url(https://www.shutterstock.com/image-illustration/futuristic-motion-element-user-interface-600w-1109762045.jpg);
    transform: rotateY(240deg) translateZ(430px);
}

.imagem:nth-child(8){
    background-image: url(https://www.shutterstock.com/image-illustration/galaxy-elements-this-image-furnished-600w-739463065.jpg);
    transform: rotateY(280deg) translateZ(430px);
}

.imagem:nth-child(9){
    background-image: url(https://www.shutterstock.com/image-illustration/grunge-600w-17521327.jpg);
    transform: rotateY(320deg) translateZ(430px);
}







